/* stackone specific stylings */

.stackone {
  color: #000;
}

.stackone #faq h2,
.stackone #faq h3 {
  color: #000;
}
.stackone p {
  color: #898989;
}

/* navbar */
.stackone h1,
.stackone .faq .faq-intro h1
{
  font-size: 48px;
  font-weight: 700;
}
.stackone h1 em {
  background: black;
  color: white;
}
@media only screen and (max-width: 768px) {
  .stackone .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .stackone h1,
  .stackone .faq .faq-intro h1
  {
    font-size: 32px;
    font-weight: 700;
  }
}
.stackone .navbar-nav .nav-item {
  color: #563D7C;
}
.stackone .navbar-nav .nav-item .nav-link {
  color: #563D7C;
}

.stackone .navbar-brand span {
  display: none;
}
.stackone .nav-white .nav-item .nav-link {
  color: #FFFFFF;
}
.stackone .nav-white .navbar-brand:before {
  background: url(/assets/images/logo.png) no-repeat left/100%;
  content: "";
  display: inline-block;
  overflow: hidden;
  height: 25px;
  margin-right: 15px;
  width: 25px;
}
@media only screen and (max-width: 768px) {
  .stackone .nav-white .navbar-brand:before {
    background: url(/assets/images/logo-dark.png) no-repeat left/100%;
  }
}
.stackone .past-main .container .navbar-brand:before,
.stackone .past-main .nav-white .navbar-brand:before {
  background: url(/assets/images/logo-dark.png) no-repeat left/100%;
}
.stackone .nav-white .navbar-brand {
  font-size: 0.9rem;
	color: #FFFFFF;
}
.stackone .nav-white .navbar-brand em {
  /*padding: .5rem .1rem;*/
}
.stackone .nav-white .nav-item .nav-link:hover {
  color: #F1F1F1;
}

.stackone .navbar.past-main {
	background-color: rgba(255, 255, 255, 0.99) !important;
}
.stackone .past-main .container .navbar-brand,
.stackone .past-main .container .navbar-collapse .navbar-nav .nav-item a.nav-link
{
	color: #000;
}
@media only screen and (max-width: 768px) {
  .stackone .nav-white .navbar-brand,
  .stackone .container .navbar-collapse .navbar-nav .nav-item a.nav-link {
    color: #000;
  }
}

/* buttons */
.stackone .btn-action,
.stackone .btn-action:hover {
  background: black;
	border-color: black;
}
.stackone .pricing-section .btn-action {
	background-color: #0facf3;
	border-color: #0facf3;
}
.stackone .btn-action {
	color: #FFFFFF;
}
.stackone .btn-action:hover {
	color: #FFFFFF;
}
.stackone .btn-action:focus {
	color: #FFFFFF;
}
.stackone .btn-send {
  color: #FFFFFF;
  background: black;
	/*background: linear-gradient(90deg,#42b0ff,#4262ff);*/
}
.stackone .btn-send:hover {
  color: #FFFFFF;
  background: black;
	/*background: linear-gradient(90deg,#4262ff,#42b0ff);*/
}

/* form */
.stackone .form-control:focus {
  border-color: #2e7eed;
	background: #F4F4F4;
}
.stackone textarea.form-control {
	background: #F9F9F9;
}
.stackone .contact-form .form-control {
  border-bottom-color: black;
}

.stackone .formee .right {
  /*
  color: #FFFFFF;
  background-color: #387ed1;
	background-image: linear-gradient(90deg,#42b0ff,#4262ff);
   */
  background: black;
  color: #FFF;
}

/* hero */
.stackone .hero-home, .stackone .cta-big {
  /*
	background: linear-gradient(to right, rgba(106, 17, 203, 0.95), rgba(37, 117, 252, 0.95)), url(../images/world-map.png) no-repeat center center;
  */
  background: url(../images/stack1-hero.png) no-repeat center center;
	background-size: cover;
}
.stackone .hero-home p,
.stackone .cta-big p
{
  color: white;
}

/* footer */
.stackone .footer {
  background-color: #000;
}
.stackone .footer h2, .stackone .footer p, .stackone .footer p a, .stackone .footer .footer-sub {
	color: #FFFFFF;
}
.stackone .footer .footer-sub a {
	color: #FFFFFF;
}
.stackone .footer .footer-nav a, .stackone .footer a.f-mail {
	color: #D8D8D8;
}

.stackone .back-to-top {
	background: black;
	border-radius: 20px;
}
.stackone .back-to-top:hover {
	background: white;
}
.stackone .back-to-top i {
  top: 6px;
}
.stackone .back-to-top:hover i {
  color: black;
}
.stackone .back-to-top:focus {
  color: #FFFFFF;
}
